<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
   <context:component-scan base-package="com.digitalhealthcare"/>
    <mvc:annotation-driven />
      <context:annotation-config />
    <!-- JSON Support -->
    <bean name="viewResolver" class="org.springframework.web.servlet.view.BeanNameViewResolver"/>
    <bean name="jsonTemplate" class="org.springframework.web.servlet.view.json.MappingJackson2JsonView"/>
	
	
		<bean id="DigiSaveProfile" class="com.digitalhealthcare.DigiHealthCareSaveProfileDAO">
		<property name="dataSource" ref="ds" />
	</bean>
	
	<bean id="AccountExist" class="com.digitalhealthcare.DigitalHealthCareIsAccountExistDAO">
		<property name="dataSource" ref="ds" />
	</bean>
	
	<bean id="sessionHandler" class="com.cis.CISSessionDAO">
		<property name="dataSource" ref="ds" />
	</bean>
	
 	<bean id="RequestotpDAO" class="com.digitalhealthcare.DigihealthCareRequestOTPDAO"> 
		<property name="dataSource" ref="ds" /> 
 	</bean> 
 	
 	 <bean id="validateotpDAO" class="com.digitalhealthcare.DigihealthCareValidateOTPDAO"> 
 		<property name="dataSource" ref="ds" /> 
 	</bean> 
 	
 	<bean id="loginDAO" class="com.digitalhealthcare.DigihealthCareLoginDAO"> 
 		<property name="dataSource" ref="ds" /> 
 	</bean>
 	
    <bean id="profileUpdateDAO" class="com.digitalhealthcare.DigiHealthCareProfileUpdateDAO"> 
 		<property name="dataSource" ref="ds" /> 
 	</bean>
 	
 	<bean id="getContentDAO" class="com.digitalhealthcare.DigiHealthCareGetContentDataDAO"> 
 		<property name="dataSource" ref="ds" /> 
 	</bean>
 	
 	<bean id="saveContentDAO" class="com.digitalhealthcare.DigiHealthCareSaveContentDAO"> 
 		<property name="dataSource" ref="ds" /> 
 	</bean>
 	
 	<bean id="userLogoutDAO" class="com.digitalhealthcare.DigihealthCareUserLogoutDAO"> 
 		<property name="dataSource" ref="ds" /> 
 	</bean>
 	
 	<bean id="feedBackDAO" class="com.digitalhealthcare.DigihealthCareSaveFeedBackDAO"> 
 		<property name="dataSource" ref="ds" /> 
 	</bean>
 	
 	<bean id="profileDAO" class="com.digitalhealthcare.DigiHealthCareGetProfileDataDAO"> 
 		<property name="dataSource" ref="ds" /> 
 	</bean>
 	
 	<bean id="PasswordDAO" class="com.digitalhealthcare.DigihealthCareForgotPasswordDAO"> 
 		<property name="dataSource" ref="ds" /> 
 	</bean>
 	
 	<bean id="UpdatePasswordDAO" class="com.digitalhealthcare.DigiHealthCareUpdatePasswordServiceDAO"> 
 		<property name="dataSource" ref="ds" /> 
 	</bean>
 	
 	<bean id="savePatient" class="com.digitalhealthcare.DigihealthCareAdminCreateServiceDAO"> 
 		<property name="dataSource" ref="ds" /> 
 	</bean>
 	
 	<bean id="viewPatients" class="com.digitalhealthcare.DigiHealthCareViewPatientsServiceDAO"> 
 		<property name="dataSource" ref="ds" /> 
 	</bean>
 	
 	<bean id="AdminProfileUpdateDAO" class="com.digitalhealthcare.DigiHealthCareAdminProfileUpdateDAO"> 
 		<property name="dataSource" ref="ds" /> 
 	</bean>
 	
 <bean id="ds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">  
<property name="driverClassName" value="com.mysql.jdbc.Driver" />  
<property name="url" value="jdbc:mysql://204.93.169.64:3306/littlepa_homecare"/>  
<property name="username" value="littlepa_sm"/>  
<property name="password" value="password1" />  
</bean> 
 <!-- <bean id="ds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">   
  <property name="driverClassName" value="com.mysql.jdbc.Driver" />   
  <property name="url" value="jdbc:mysql://204.93.169.64:3306/castusin_arcturusdb" />   
  <property name="username" value="castusin_arcturu" />    
  <property name="password" value="arcturus1@3"/>  
  </bean>  -->
</beans>